* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Secular One', sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

.header-container {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 20px #a3a3a3;
  animation: showHeader 0.8s forwards;
  margin-bottom: 20px;
  overflow: hidden;
}

.header-content {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.header-content img {
  width: 150px;
  cursor: pointer;
  padding: 15px 0;
}

.header-content nav,
ul {
  display: flex;
}

.header-content li {
  margin-left: 30px;
}

.header-content a {
  color: rgb(255, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-content li:hover {
  transform: scale(1.08);
  transition: 0.5s;
}

.header-content a:hover {
  color: #000000;
  transition: 0.3s;
}

.principal-container {
  max-width: 1500px;
  width: 90%;
  margin: auto;
  padding-top: 40px;
}

@keyframes showHeader {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(img/max.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 350px;
  padding: 15px;
  animation: showBanner 0.8s forwards;
}

@keyframes showBanner {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.banner img {
  width: 500px;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 3px;
  padding-bottom: 30px;
  animation: showBanner 0.8s forwards;
}

h2 {
  background-color: #00d2be;
  margin-left: 0;
  width: 100%;
  color: #ffffff;
  letter-spacing: 3px;
  font-weight: 400;
  padding: 2px;
  border-radius: 5px;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.driver-container {
  max-width: 1500px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  gap: 30px;
  margin-bottom: 70px;
}

.driver {
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  margin: auto;
  box-shadow: -15px 10px 15px #00000025;
  background-color: #fff;
}

.driver-info {
  display: flex;
  flex-direction: column;
}

.drive-img-number {
  background-image: url(img/Screenshot_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
}

.number-img {
  padding-top: 15px;
  align-items: flex-start;
}
.number-img img {
  width: 200px;
}

.driver-img {
  display: flex;
  align-items: flex-end;
}
.driver-img img {
  width: 220px;
}

.driver-text {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 18px;
  border: solid 4px #00d2be;
}
.driver-text-close {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 18px;
  border: solid 4px #00d2be;
}

.driver-questions {
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  padding: 5px;
  text-transform: uppercase;
}

.driver-questions li {
  font-size: 1.4rem;
  font-weight: bold;
}
.driver-answer {
  flex-direction: column;
  justify-content: center;
}

.driver-answer li {
  font-size: 1.4rem;
}

/*Redbull*/

.h2Redbull {
  background-color: #0600ef;
}

.driver-text-redbull {
  display: flex;
  justify-content: center;
  gap: 15px;
  border-radius: 10px;
  border: solid 4px #0600ef;
}
/*Ferrari*/

.h2Ferrari {
  background-color: #dc0000;
}

.driver-text-ferrari {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
  border: solid 4px #dc0000;
}
/*Maclaren*/

.h2Maclaren {
  background-color: #ff9800;
}

.driver-text-maclaren {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
  border: solid 4px #ff9800;
}
/*alpine*/

.h2Alpine {
  background-color: #0090ff;
}

.driver-text-alpine {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
  border: solid 4px #0090ff;
}
/*alphaTauri*/

.h2Alpha {
  background-color: #2b4562;
}

.driver-text-alpha {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
  border: solid 4px #2b4562;
}
/*AstonMartin*/

.h2Aston {
  background-color: #006f62;
}

.driver-text-aston {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
  border: solid 4px #006f62;
}
/*Williams*/

.h2Willians {
  background-color: #005aff;
}

.driver-text-willians {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
  border: solid 4px #005aff;
}
/*AlfaRomeo*/

.h2alfa {
  background-color: #900000;
}

.driver-text-alfa {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
  border: solid 4px #900000;
}
/*Hass*/

.h2hass {
  color: #000000;
  background-color: #ffffff;
  border: solid 4px #000000;
}

.driver-text-hass {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
  border: solid 4px #000000;
}

.js-scroll {
  opacity: 0;
  transition: 0.6s;
  transform: translate3d(0, 80px, 0);
}

.js-scroll.ativo {
  opacity: 1;
  transition: 0.6s;
  transform: translate3d(0, 0, 0);
}

footer {
  text-align: center;
  padding: 10x;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ff0000;
}

footer a {
  color: #ffffff;
  font-size: 4rem;
  padding-left: 20px;
}

footer a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

h3 {
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  padding: 20px 0;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1024px) {
  .driver-questions {
    padding-right: 10px;
  }

  .driver-questions li {
    font-size: 1.2rem;
  }

  .driver-answer li {
    font-size: 1.2rem;
  }
  .driver {
    max-width: 400px;
  }
  .number-img img {
    width: 150px;
  }

  .driver-img img {
    width: 180px;
  }
}

@media (max-width: 768px) {
  .header-content img {
    width: 100px;
  }
  .header-content a {
    font-size: 1.4rem;
  }
  .driver {
    max-width: 400px;
    position: relative;
    cursor: pointer;
  }
  .number-img img {
    width: 150px;
  }

  .driver-img img {
    width: 180px;
  }

  .driver-container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }
  .ativo-driver-open {
    display: none;
  }

  .driver-text {
    animation: slideDown 0.8s forwards;
    position: relative;
    z-index: -1;
    border-radius: 8px;
  }

  .driver-text-close.ativo-driver-close {
    display: flex;
  }
  .driver-text-close {
    display: none;
    animation: slideDown 0.6s forwards;
    position: relative;
    z-index: -1;
    border-radius: 8px;
  }

  .driver-info {
    overflow-y: hidden;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translate3d(0, -50px, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

@media (max-width: 570px) {
  .banner img {
    width: 350px;
  }
}

@media (max-width: 425px) {
  .header-content img {
    width: 70px;
  }
  .header-content a {
    font-size: 1rem;
  }
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
  .banner img {
    width: 280px;
  }

  .banner {
    height: 280px;
  }
  .driver {
    max-width: 350px;
  }
  .number-img img {
    width: 130px;
  }

  .driver-img img {
    width: 150px;
  }
  .driver-questions {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    padding: 5px;
    text-transform: uppercase;
  }

  .driver-questions li {
    font-size: 1rem;
    font-weight: bold;
  }
  .driver-answer {
    flex-direction: column;
    justify-content: center;
  }

  .driver-answer li {
    font-size: 1rem;
  }

  footer {
    padding: 10px;
  }
  footer a {
    color: #ffffff;
    font-size: 3rem;
    padding-left: 15px;
  }

  h3 {
    color: #fff;
    font-size: 1.2rem;
    padding: 20px 0;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
