* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Secular One', sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

.header-container {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 20px #a3a3a3;
  animation: showHeader 0.8s forwards;
  margin-bottom: 20px;
  overflow: hidden;
}

.header-content {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.header-content img {
  width: 150px;
  cursor: pointer;
  padding: 15px 0;
}

.header-content nav,
ul {
  display: flex;
}

.header-content li {
  margin-left: 30px;
}

.header-content a {
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-content li:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.header-content a:hover {
  color: #ff0000;
  transition: 0.2s;
}

.principal-container {
  margin: auto;
  max-width: 1480px;
  width: 100%;
  padding-top: 40px;
  height: 100vh;
}

@keyframes showHeader {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(img/max.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 350px;
  padding: 15px;
  animation: showBanner 0.8s forwards;
}

@keyframes showBanner {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.banner img {
  width: 500px;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 3px;
  padding-bottom: 40px;
  animation: showBanner 0.8s forwards;
}

.drivers-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.drive {
  display: block;
  justify-content: space-between;
  animation: showBanner 0.8s forwards;
  margin-bottom: 90px;
}

.driver1 {
  max-width: 1500px;
  width: 100%;
  display: flex;
  border-bottom-left-radius: 15px;
  border-left: solid 4px #c4c4c4;
  border-bottom: solid 4px #c4c4c4;
}
.driver1:hover {
  transform: scale(1.01);
  transition: 0.3s;
  border-left: solid 4px #00d2be;
  border-bottom: solid 4px #00d2be;
}

.img-driver1 {
  display: flex;
  align-items: flex-end;
}
.img-driver1 div {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
}

.imgDriver {
  width: 220px;
}
.text-driver1 {
  display: flex;
  color: #000;
  align-items: center;
}

h2 {
  margin-left: 0;
  width: 100%;
  color: #000000;
  letter-spacing: 3px;
  font-weight: 400;
  padding: 5px;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 40px;
  margin-right: 10px;
  background: #00d2be;
}

.driver-question {
  width: 220px;
}

.driver-answer {
  width: 160px;
}

h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.drive p {
  font-size: 1.6rem;
}
